name: NewRelease
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  create-release:
      runs-on: ubuntu-latest
      outputs:
        RELEASE_UPLOAD_ID: ${{ steps.create_release.outputs.id }}
        UPLOAD_URL: ${{ steps.create_release.outputs.upload_url }}

      steps:
        - uses: actions/checkout@v2
        - name: Query version number
          id: get_version
          shell: bash
          run: |
            echo "using version tag ${GITHUB_REF:10}"
            echo ::set-output name=version::"${GITHUB_REF:10}"

        - name: Create Release
          id: create_release
          uses: actions/create-release@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            tag_name: '${{ steps.get_version.outputs.VERSION }}'
            release_name: 'dingcode-dpmhub ${{ steps.get_version.outputs.VERSION }}'
            body: 'See the assets to download this version and install.'
            
  build-bin:
    needs: create-release
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          lfs: true

      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release


      # widnows 
      - name: Upload Win-Release Asset
        if: ${{ matrix.platform == 'windwos-latest' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
        with:
          upload_url: ${{ needs.create-release.outputs.UPLOAD_URL }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: target/release/dpm-popui-e.exe
          asset_name: win_x64_dpm-popui-e.exe
          asset_content_type: application/octet-stream
          

      # macos
      - name: Upload Macos-Release Asset
        if: ${{ matrix.platform == 'macos-latest' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
        with:
          upload_url: ${{ needs.create-release.outputs.UPLOAD_URL }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: target/release/dpm-popui-e
          asset_name: win_x64_dpm-popui-e
          asset_content_type: application/octet-stream
          
          
    
          