name: NewRelease
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  create-release:
      runs-on: ubuntu-latest
      outputs:
        RELEASE_UPLOAD_ID: ${{ steps.create_release.outputs.id }}

      steps:
        - uses: actions/checkout@v2
        - name: Query version number
          id: get_version
          shell: bash
          run: |
            echo "using version tag ${GITHUB_REF:10}"
            echo ::set-output name=version::"${GITHUB_REF:10}"

        - name: Create Release
          id: create_release
          uses: actions/create-release@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            tag_name: '${{ steps.get_version.outputs.VERSION }}'
            release_name: 'dingcode-dpmhub ${{ steps.get_version.outputs.VERSION }}'
            body: 'See the assets to download this version and install.'
            
  build-bin:
    needs: create-release
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, windows-latest]
        include:
          - target: x86_64-pc-windows-gnu
            archive: zip
          - target: x86_64-unknown-linux-musl
            archive: tar.gz tar.xz tar.zst
          - target: x86_64-apple-darwin
            archive: zip
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable

      - uses: actions/checkout@master
      - name: Compile and release
        uses: rust-build/rust-build.action@v1.4.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: ${{ matrix.target }}
          ARCHIVE_TYPES: ${{ matrix.archive }}
